/* Layout */
html {
  background-color: #8A9CB3;
}

#content {
  position: relative;
  width: 974px;
  margin: auto;
  color: #333;
}

div.notice,
div.failure,
div.success {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
}

div.success,
div.notice {
  color: green;
  background-color: #B5EAAA;
}

div.failure {
  color: red;
  background-color: #FAAFBA;
}

a {
  color: #CE1D25;
  text-decoration: none;
}

a:hover {
  color: #FF4048;
}

h1 {
  font-size: 135px;
  color: #C9C299;
  text-align: center;
  text-shadow: 1px 1px 0px #666;
}

h1 span.big {
  text-transform: uppercase;
  font-weight: bold;
}

h1 span.the + span.big {
  position: relative;
  top: -10px;
  color: #FAAFBA;
}

h1 span.big + span.big {
  position: relative;
  top: 10px;
  margin-left: -1.7em;
  color: #B5EAAA;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: bold;
  color: #C9C299;
  text-shadow: 1px 1px 0px #666;
}

#sidebar {
  position: absolute;
  width: 200px;
  margin-right: 1em;
}

#sidebar h2 {
  text-align: center;
  color: #8A9CB3;
}

#sidebar div.social_buttons {
  margin-bottom: 1em;
  text-align: center;
}

#main_section {
  margin-left: 226px;
}

#main_section p {
  margin-bottom: 1em;
}

iframe.twitter-follow-button {
  width: 61px;
}

iframe.twitter-follow-button ~ iframe{
  width: 150px;
}

/* Tweets */
#tweets {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #B5EAAA;
}

#tweets .tweet {
  margin-bottom: 1em;
  font-size: 11px;
  word-wrap: break-word;
}

#tweets p.created_at {
  color: #666;
}

/* Shows */
#shows {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #C9C299;
}

div.show {
  margin-bottom: 1em;
  word-wrap: break-word;
}

div.show p {
  margin: 0;
  font-size: 11px;
}

div.show p.date {
  float: left;
  margin-right: 0.5em;
  font-weight: bold;
}

div.show p.venue_name {
  font-weight: bold;
}

div.show p.venue_name:before {
  content: "@";
}

/* Contact */

#contact {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
  background-color: #FAAFBA;
}

/* Navigation */

#navigation {
  padding: 0.5em 2em;
  margin-bottom: 1em;
  margin-left: -1em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: right;
  background-color: #6B7F99;
}

#navigation li {
  display: inline;
  margin-left: 2.5em;
}

#navigation a {
  color: #B5EAAA;
  text-shadow: 1px 1px 0px #FAAFBA;
  font-weight: bold;
}

#navigation a:hover {
  text-shadow: 2px 2px 0px #FAAFBA;
}

/* Blog Posts */

.blog_post {
  margin-bottom: 1.5em;
  clear: both;
}

.blog_post p {
  text-align: justify;
  line-height: 1.4;
}

.blog_post p.created_at {
  clear: both;
  margin-top: 1em;
  text-align: left;
  color: #666;
}

img.wrapped_left {
  float: left;
  margin-right: 1em;
  max-width: 250px;
}

img.wrapped_right {
  float: right;
  margin-left: 1em;
  max-width: 250px;
}