/* Layout */
html {
  background-color: #8A9CB3;
}

#content {
  position: relative;
  width: 974px;
  margin: auto;
  color: #363636;
}

div.notice,
div.failure,
div.success {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
}

div.success,
div.notice {
  color: green;
  background-color: #B5EAAA;
}

div.failure {
  color: red;
  background-color: #FAAFBA;
}

a {
  color: #FAAFBA;
  text-decoration: none;
  text-shadow: 1px 1px 0px #666;
}

a:hover {
  color: #FF4048;
}

h1 {
  font-size: 135px;
  color: #C9C299;
  text-align: center;
  text-shadow: 1px 1px 0px #666;
}

h1 span.big {
  text-transform: uppercase;
  font-weight: bold;
}

h1 span.the + span.big {
  position: relative;
  top: -10px;
  color: #FAAFBA;
}

h1 span.big + span.big {
  position: relative;
  top: 10px;
  margin-left: -1.7em;
  color: #B5EAAA;
}

h2 {
  margin-bottom: 1em;
  font-size: 19px;
  font-weight: bold;
  color: #C9C299;
  text-shadow: 1px 1px 0px #666;
}

#sidebar {
  position: absolute;
  width: 220px;
  margin-right: 1em;
}

#sidebar h2 {
  display: none;
  margin-top: -0.5em;
  text-align: center;
  color: #8A9CB3;
}

#sidebar a {
  text-shadow: none;
}

#sidebar div.social_buttons {
  margin-bottom: 1em;
  text-align: center;
}

div.plusone_button {
  display: inline-block;
  margin-right: 0.5em;
}

iframe.twitter-follow-button {
  width: 61px;
  margin-right: 0.5em;
}

#main_section {
  margin-left: 246px;
}

#main_section p {
  margin-bottom: 1em;
}

/* Tweets */
#tweets {
  padding: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #B5EAAA;
}

#tweets div {
  padding: 0!important;
}

#tweets a {
  color: #363d66;
}

#tweets a:hover {
  text-decoration: underline;
}

.twtr-hd {
  margin-bottom: 16px;
}

.twtr-widget .twtr-tweet {
  border-bottom-width: 0!important;
  margin-bottom: 16px;
}

.twtr-widget .twtr-tweet:last-child {
  margin-bottom: 0;
}

div.twtr-tweet-text p {
  font-size: 11px;
  word-wrap: break-word;
}

.twtr-ft {
  display: none!important;
}

/* Shows */
#shows {
  padding: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #C9C299;
}

#shows a {
  color: #363d66;
}

#shows a:hover {
  text-decoration: underline;
}

div.show {
  margin-bottom: 1.25em;
  word-wrap: break-word;
}

div.show:last-child {
  margin-bottom: 0;
}

div.show p {
  margin: 0;
  font-size: 11px;
}

div.show p.date {
  float: left;
  margin-right: 0.5em;
  font-weight: bold;
}

div.show p.venue_name {
  font-weight: bold;
}

div.show p.venue_name:before {
  content: "@";
}

/* Contact */

#contact {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
  background-color: #FAAFBA;
}

/* Navigation */

#navigation {
  padding: 0.5em 2em;
  margin-bottom: 1em;
  margin-left: -1em;
  font-size: 15px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: right;
  background-color: #6B7F99;
}

#navigation li {
  display: inline;
  margin-left: 2.5em;
}

#navigation a {
  color: #B5EAAA;
  text-shadow: 1px 1px 0px #FAAFBA;
  font-weight: bold;
}

#navigation a:hover {
  text-shadow: 2px 2px 0px #FAAFBA;
}

/* Blog Posts */

#main_section .blog_post {
  margin-bottom: 16px;
  border-bottom: dotted 2px #6B7F99;
  clear: both;
}

#main_section .blog_post:last-child {
  border-bottom: none;
}

#main_section .blog_post p {
  text-align: justify;
  line-height: 1.4;
}

#main_section .blog_post p:last-child {
  margin-bottom: 0;
}

#main_section .blog_post p.created_at {
  clear: both;
  margin-bottom: 18px;
  text-align: left;
  color: #666;
}

img.wrapped_left {
  float: left;
  margin-right: 1.5em;
  max-width: 250px;
}

img.wrapped_right {
  float: right;
  margin-left: 1.5em;
  max-width: 250px;
}

.blog_post a[href^="http://feeds.wordpress.com/1.0/"] {
  display: none;
}

.blog_post p + br {
  display: none;
}