<div id="navigation">
  <ul>
    <li><a href="http://thebigbigbucks.wordpress.com">More Blog</a></li>
    <li><a href="http://thebigbigbucks.bandcamp.com">Listen</a></li>
    <li><a href="http://sippycupeverything.com/thebigbigbucks">Serious Journalism</a></li>
    <li><a href="http://youtu.be/HNWoOMg4jp4">Pictures</a></li>
  </ul>
</div>