<div id="navigation">
  <ul>
    <li><a href="http://thebigbigbucks.bandcamp.com">Listen</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Pac-Man">Serious Journalism</a></li>
    <li><a href="http://youtu.be/HNWoOMg4jp4">Pictures</a></li>
  </ul>
</div>